* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}

header {
  text-align: center;
  background-color: rgb(66, 66, 225);
}

.app {
  background-image: url(./images/mountain.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin-inline: 1%;
  margin-bottom: 10px;
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 80px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(75, 5, 75);
}

.taskText {
  margin-left: 12px;
}

.taskTrashButton {
  margin-right: 9px;
  border: none;
  cursor: pointer;
}

.taskCardsArea {
  display: flex;
  margin-top: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.AddTaskCardButtonAreas {
  margin-left: 1%;
  margin-top: 25px;
}
.addTaskCardButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: rgb(221,194,162);
  box-shadow: 3px 3px 8px 1px black;
  cursor: pointer;
  transition: all 0.3s;
}

.addTaskCardButton:hover{
  box-shadow: none;
  transform: translate(3px,3px);
}

.taskCardTitleAndDeleButton{
  display: flex;
  justify-content: space-between;
}

.taskCardDeleteButton{
  border: none;
  margin-top: 5px;
  cursor: pointer;
}

.faCircleXmark{ 
  width: 20px;
  height: 20px;
  color: red;
}